@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    margin:0px;
    padding:0px;
}
nav
{
    width:100%;
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:0.5rem;
    background-color:white;
    box-shadow:0px 0px 0px 0.2rem lightblue;
    z-index: -1000;
}
.nav1
{
    padding-left: 1rem;
}
 .nav_button{
    padding:0.5rem;
    background-color:#fc0505;
    border-radius: 0.5rem;
    font-family: 'Poppins';
    font-weight: bolder;
    margin:2rem;
}
.nav_button:hover{
    background-color:rgb(50, 149, 247);
}
a{
   text-decoration: none;
   color:white;
}
i{
    color: #ff0400;
}
logo
{
    font-family: 'Poppins';
    font-weight: bolder;
}

#report_box
{
    height:0px;
    width:0px;
    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
}

#report_box:target{

    background-color:white;
    height:auto;
    width:40vw;
    top:15%;
    left:25%;
    justify-content: center;
    align-items: center;
    border-radius:2rem;
    z-index:-100px;
    box-shadow: 0px 2px 2px 4px lightblue;
    padding: 1rem;
}
#form_heading
{
    background-color: white;
    text-align: center;
    font-weight: bolder;
    font-family: 'Poppins';
    color:#c72323;
}
#report_form
{
    background-color: white;
    font-weight: bold;
    padding:1rem 1rem 1rem 0.5rem;
}
input
{
    padding:0.5rem;
    margin:0.2rem;
    border-radius: 0.5rem;
    border:5px rgb(0, 128, 170);
    box-shadow: 0px 0px 0px 1px lightblue;
}
#issue_name{
    width:100%;
}
#issue_desc
{
    width:100%;
    height:5rem;
    overflow-wrap: normal;
}
/* issue tag */
#issue_tag
{
   padding:0.3;
   border-radius:0.5rem;
   font-weight: 600;
   font-size:1rem;
   text-align: center;
}
.option
{
    padding:0.3;
    border-radius:0.5rem;
}
#dis
{
    font-weight: bold;
}
#box
{
    display:flex;
    justify-content: space-around;
    background-color: white;
    width:100%;
}
.form_button
{
    padding:0.5rem;
    background-color:#146cf9;
    border-radius: 0.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    color:white;
    margin-left: 0.5rem;
    margin-right:0.5rem;
}
#close:hover
{
    background-color: rgb(244, 8, 8);
}
#create:hover{
    background-color:rgb(2, 137, 11) ;
}
