<html>
 <head>
    <script src="https://kit.fontawesome.com/6834fc8242.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project.css">
    <link rel="stylesheet" href="new_project.css">
 </head>
  <body>
      <%- body %>
 </body>
</html>