<html>
 <head>
    <script src="https://kit.fontawesome.com/6834fc8242.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="project.css">
 </head>
  <body>
    <div class="container">
         <%- body %>
    </div>
</body>
</html>