<html>
    <head>
        <script src="https://kit.fontawesome.com/6834fc8242.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="issue.css">
    </head>
    <body>
        <nav> 
            <logo>
                 
            </logo>
        </nav>
        <h1>
        
        </h1>
    
    </body>
</html>