<html>
    <head>
        <script src="https://kit.fontawesome.com/6834fc8242.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="project.css">
    </head>
    <body>
        <nav> 
            <div class="nav1">
                <i class="fa-solid fa-gear"></i>
                <logo> Issue Tracker </logo>
            </div>
            <button type="submit">
                Create Project
            </button>
           
        </nav>
        <h1>
        
        </h1>
    
    </body>
</html>